button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-blue {background-color: #008CBA;}
.button-red {background-color: #f44336;}
.button-gray {background-color: #e7e7e7; color: black;}
.button-black {background-color: #555555;}
