.button-glow {
  animation: glowing 1300ms infinite;
}
:root {
  --glow-color1: red;
  --glow-color2: blue;
}
@keyframes glowing {
  0% {
    background-color: var(--glow-color1);
    box-shadow: 0 0 5px var(--glow-color1);
  }
  50% {
    background-color: var(--glow-color2);
    box-shadow: 0 0 20px var(--glow-color2);
  }
  100% {
    background-color: var(--glow-color1);
    box-shadow: 0 0 5px var(--glow-color1);
  }
}
