.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-red {
  background-color: red;
  color: white;
}

.well-green {
  background-color: #04AA6D;
  color: white;
}

.well-blue {
  background-color: #008CBA;
  color: white;
}

.well-black {
  background-color: #555555;
  color: black;
}
